$primaryColor: #f3e5f5;
$primaryHoverColor: #9c27b0;
$onPrimaryHoverColor: #ffffff;
$onPrimaryColor: #4a148c;
$secondaryColor: #880e4f;
$terciaryColor: #ffffff;
$dangerColor: #c2185b;
$warningColor: #ffab00;
$successColor: #a5d6a7;
$textColor: #212121;

$separatorsColor: #f5f5f5;
$appBgColor: #f5f5f5;
$componentsBgColor: #ffffff;
$secondaryTextColor: #757575;
