@import './colors.scss';

body, html {
  height: 100%;
  margin: 0;
}

.dialog-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  background-color: rgb(92, 88, 88);
  z-index: 10001;
  opacity: 0.5;
}

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  opacity: 1;
}
