.overlay {
  z-index: 10002;

  &.dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    opacity: 1;
    width: 700px;
    height: fit-content;
    max-height: calc(100% - 128px);
    border-radius: 8px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  &.panel {
    position: fixed;
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: #000 0 0 20px;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }

  .title {
    font-size: 44px;
    text-align: center;
    line-height: 86px;
  }

  .close-button {
    position: absolute;
    display: flex;
    top: 30px;
    right: 16px;
    width: 32px;
    font-size: 24px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    line-height: 32px;
    text-align: center;

    &:hover {
      background-color: rgb(255, 0, 0);
      border-radius: 50px;
      color: #fff;
    }
  }

  .overlay-content {
    width: 100%;
    height: calc(100% - 86px);
    max-height: 400px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  .action-buttons-container {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;

    button {
      height: 32px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      cursor: pointer;

      &:nth-child(2) {
        margin-right: 8px;
      }

      &:last-child {
        margin-right: 16px;
      }

      &.negative-action-button {
        border: none;
        background-color: #fff;
        cursor: pointer;

        &.positive-action-button {
          cursor: pointer;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
